*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(100deg, #ccffff, #9999ff);
    font-family: italic;
    font-size: 10px;
    font-weight: 10;
}

.container{
    margin: 2rem;
    text-align: center;
}

.nav{
    background: linear-gradient(50deg, #000066, #3366ff);
    color: white;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-family: italic;
    font-size: 20px;
    font-weight: 10;
}

.nav ul{
    padding: .1rem;
    list-style: none;
    display: inline-block;
    gap: 1rem;
    margin: .1rem;
}

.nav li{
    float: left;
}

.nav a{
    color: white;
    height: 10%;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    align-items: center;
    padding: .2rem;
    margin: .1rem;
}

.nav li:hover{
    background: linear-gradient(10deg, #66ccff, #9966ff);
}