*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    margin: 1rem;
    text-align: center;
}

.nav{
    background-color: #333;
    color: white;
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul{
    padding: .5rem;
    list-style: none;
    display: inline-block;
    gap: 1rem;
    margin: .5rem;
}

.nav li{
    float: left;
}

.nav a{
    color: white;
    height: 100%;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    align-items: center;
    padding: .5rem;
    margin: .5rem;
}

.nav li:hover{
    background-color: #111;
}